---
import productLogo from '../assets/logo.png';
import demoImageOne from '../assets/demo_screen_one.png';
import demoImageTwo from '../assets/demo_screen_two.png';
import appStore from '../assets/app_store.webp';
import googlePlay from '../assets/google_play.webp';
---

<div id='background-container'>
  <main class='container'>
    <header class='header'>
      <div class='logo'>
        <img src={productLogo.src} alt='MoodLog AI' height='40' width='40' />
        <a href='#'>Moody AI</a>
      </div>
      <nav>
        <a href='#'>
          <button class='button'>Download</button>
        </a>
      </nav>
    </header>
    <section class='hero'>
      <section>
        <h1 class='hero-title'>Improve your mood with few taps.</h1>
        <p class='hero-description'>
          Introducing Moody AI, the AI-powered app that simplifies mood
          tracking. Tap on emoji few times a day to track your mood. Get
          personalized insights and smart reminders to reach your mood goals
          faster!
        </p>
        <div class='app-stores'>
          <a href='#'>
            <img src={appStore.src} alt='App Store' height='65' width='200' />
          </a>
          <a href='#'>
            <img
              src={googlePlay.src}
              alt='Google Play'
              height='65'
              width='200'
            />
          </a>
        </div>
      </section>
      <section class='hero-images'>
        <img
          class='hero-image-one'
          height='420'
          src={demoImageOne.src}
          alt=''
        />
        <img
          class='hero-image-two'
          height='375'
          src={demoImageTwo.src}
          alt=''
        />
      </section>
    </section>
    <footer class='footer'>
      <p>© 2025 Moody AI</p>
      <div>
        <a href='#'>Privacy Policy</a>
        <a href='#'>Terms of Service</a>
        <a href='#'>Contact Us</a>
      </div>
    </footer>
  </main>
</div>

<style>
  .button {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fefbf6;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  #background-container {
    font-family: Arial, Roboto, 'Helvetica Neue', 'Arial Nova', sans-serif;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 3rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .logo span {
    font-weight: bold;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .hero-images {
    display: flex;
  }

  .hero-image-one {
    transform: rotate(5deg);
  }

  .hero-image-two {
    transform: rotate(-5deg);
  }

  .hero-title {
    font-size: 60px;
    margin: 0;
    line-height: 1.1;
    letter-spacing: -1px;
  }

  .hero-description {
    font-size: 20px;
    line-height: 1.7;
    margin: 2rem 0;
  }

  .app-stores {
    display: flex;
    gap: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-top: 5rem;
    font-size: 13px;
  }

  .footer div {
    display: flex;
    gap: 0.5rem;
  }
</style>
